<h1>Ad Details</h1>
<%= link_to "Edit Ad", edit_ad_path %> | <%= link_to "New Ad", new_ad_path %> 

<br>
<hr>

<p>Edition: <%= @ad.edition.issue_date %><br>
   Section: <%= @ad.section %></p>

<p>Organization: <%= @ad.organization.name %></p>

<p>Ad Size: <%= @ad.adsize.ad_name %></p>

<p>Notes: <%= @ad.notes %></p>

<hr>
<%= button_to "Destroy", ad_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>