<h1>Ad Details</h1>

<p>Organization: <%= @ad.organization.name %></p>

<p>Edition: <%= @ad.edition %></p>

<p>Section: <%= @ad.section %></p>

<p>Ad Size: <%= @ad.adsize_id %></p>

<p>Notes: <%= @ad.notes %></p>


<%= link_to "Edit", edit_ad_path(@ad) %> <br><br><br>
<%= button_to "Destroy", ad_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>