<h1>Editions</h1>

<ul>
  <% @editions.each do |edition| %>
      <li>
        <%= edition.title %>, 
        <%= link_to edition.issue_date, edition %>
      </li>
    <% end %>
</ul>

<h3><%= link_to "New Edition", new_edition_path %></h3>

<%= link_to "Home", home_index_path %> | <%= link_to "Articles", articles_path %>   |  <%= link_to "Contacts", contacts_path %>
 
