<h2>Editions</h2>
<%= link_to "New Edition", new_edition_path %> | <%= link_to "Organizations", organizations_path %> | <%= link_to "Contacts", contacts_path %>

<br>
<hr>

<table class="table table-responsive">
  <tr>
  <th>Edition Date
  <th>Title
  </tr>

  Listing all editions:

  <br>
  <br>
  <% @editions.each do |edition| %>
    <td><%= link_to edition.issue_date, edition %>
    <td><%= edition.title %>
  </tr>
    <% end %>

  </table>