<h2>Edition Details</h2>
<p><%= @edition.title %><br>
    Issue Date: <%= @edition.issue_date %><br>
    Digital Edition: <a href="<%= @edition.url %>" target="_blank"><%= @edition.url %></a><br>
    </p>

<%= link_to "Edit", edit_edition_path(@edition) %> <br><br>
<%= button_to "Destroy", edition_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>

