<h2>Edition Details</h2>
<%= link_to "Edit Edition", edit_edition_path(@edition) %> | <%= link_to "New Edition", new_edition_path(@edition) %> | <%= link_to "All Editions", "/editions" %>
<br>
<hr>

<p><%= @edition.title %><br>
    Issue Date: <%= @edition.issue_date %><br>
    Digital Edition: <a href="<%= @edition.url %>" target="_blank"><%= @edition.url %></a><br>
    </p>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Edition Ads (sorted by organization id)
        </button>
      </h5>
    </div>

<!-- First Dropdown -->
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">

        <table class="table table-responsive">
          <tr>
          <th>ID
          <th>Organization
          <th>Ad Size
          </tr>

          <% @ads.each do |ad| %>
            <td><%= link_to ad.id, ad %>
            <td><%= link_to ad.organization.name, ad.organization %>
            <td><%= link_to ad.adsize.ad_name, ad.adsize %>
          </tr>
            <% end %>

          </table>
        </div>
      </div>
    </div>
<!-- First Dropdown -->

<!-- Second Dropdown -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Articles (sorted by web publish date)
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">

        <table class="table table-responsive">
          <tr>
          <th>Title
          <th>Section
          <th>Web Publish Date
          </tr>

          <% @articles.each do |article| %>
            <td><%= link_to article.title, article %>
            <td><%= link_to article.section.title, article.section %>
            <td><%= article.web_date %>
          </tr>
            <% end %>

          </table>

      </div>
    </div>
  </div>
<!-- Second Dropdown -->

<!-- Third Dropdown -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
<!-- Third Dropdown -->

<br>


<%= button_to "Destroy Edition", edition_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>

