<%= form_with model: article do |form| %>


  <div>
    Section:
    <%= select_tag 'section_id', options_from_collection_for_select(@sections, "id", "title", selected: @article.section_id) %>
  </div>

  <br>


  <div>
    Issue Date:
    <%= select_tag 'print_date', options_from_collection_for_select(@editions, "issue_date", "issue_date", selected: @article.print_date) %>
  </div>

<br>

  <div>
    <%= form.label :title %>: 
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<br>


  <div>
    Wordpress URL:
    <%= form.text_field :wordpress_url %>
    <% article.errors.full_messages_for(:wordpress_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>



<!-- This is an optional view to add the body of an article
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
-->

  

  <br>

    <div>
    <%= form.label :web_date %>: 
    <%= form.date_field :web_date %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>



<div>
  <%= form.label :status %>
  <%= form.select :status, ['private', 'public', 'archived' ], selected: @article.status %>
</div>

<br>

  <div>
    <%= form.submit %>
  </div>

<% end %>
