<%= form_with model: article do |form| %>

  <div>
    Wordpress URL:<br>
    <%= form.text_field :wordpress_url %>
    <% article.errors.full_messages_for(:wordpress_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<!-- This is an optional view to add the body of an article
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
-->

<br>

  <div>
    <%= form.label :print_date %><br>
    <%= form.date_field :print_date %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

    <div>
    <%= form.label :web_date %><br>
    <%= form.date_field :web_date %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

<div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'private' %>
</div>

<br>

  <div>
    <%= form.submit %>
  </div>

<% end %>
