<h2>Articles</h2>
<%= link_to "New Article", new_article_path %> | <%= link_to "Article Que", "/sections/21" %> | <%= link_to "Private Articles", "/reports" %>

<br>
<hr>

<table class="table table-responsive">
    <tr>
    <th>Article Name
    <th>Web Publish Date
    <th>Print Date
    <th>Wordpress Link
    <th>Article Status
  </tr>

Listing the last 100 articles, sorted by web publish date:

<br>
<br>

    <% @articles.each do |article| %>
    <% unless article.archived? %>
        <td><%= link_to article.title, article %>
        <td><%= article.web_date.strftime("%m/%d/%Y") %>
        <td><%= article.print_date.strftime("%m/%d/%Y") %>
        <td><%= link_to "Launch", article.wordpress_url %>
        <td><%= article.status %>
  </tr>
    <% end %>
  <% end %>

</table>

<h3><%= link_to "New Article", new_article_path %></h3>
