<h2>Article Details</h2>

<p><%= @article.title %></p>
   Issue Date: <%= @article.print_date %><br>
   <p>Section: <%= @article.section_id %>
<p>Wordpress URL: <a href="<%= @article.wordpress_url %>" target="_blank"><%= @article.wordpress_url %></a><br>
  
  This article is set to publish on the web on: <%= @article.web_date %><br>
  Article status: <%= @article.status %><br>
  </p>

<p>  
<%= link_to "Edit Article", edit_article_path %> <br>
<%= button_to "Destroy", article_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
</p>

<!-- this is an optional view for showing the full article
<hr>

<p>This is how the article will look:</p>
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<hr>
-->
<hr>

<h2>Comments</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>
