<h1><%= @adsize.ad_name %></h1>

<p>Width: <%= @adsize.ad_width %><br>
Height: <%= @adsize.ad_height %><br>
Description: <%= @adsize.ad_description %>
</p>

<%= link_to "Edit", edit_adsize_path(@adsize) %> <br><br><br>