<h2>Section Details</h2>

<p><%= @section.title %><br>
    <%= @section.description %>
    </p>

    <br>

    <table class="table table-responsive">
    <tr>
    <th>Article Name
    <th>Status
    <th>Wordpress Link
  </tr>

Showing the most recent articles in this section:

<br>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
    <td><%= link_to article.title, article %>
    <td><%= article.status %>
    <td><%= link_to "Launch", article.wordpress_url %>

  </tr>
    <% end %>  
  <% end %>

</table>

<br>
<%= link_to "Edit Section Details", edit_section_path(@section) %>
<br>
<br>
<%= button_to "Destroy", section_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>