<%= form_with model: contact do |form| %>
  <div>
    <%= form.label :first %><br>
    <%= form.text_field :first %>
    <% contact.errors.full_messages_for(:first).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit %>
  </div>


<% end %>
