<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li>
	<%= contact.first %> <%= contact.last %>
     <%= link_to 'show', contact %>
    </li>
  <% end %>
</ul>

<h3><%= link_to "New Contact", new_contact_path %></h3>

<p><%= link_to "Home", home_index_path %> | <%= link_to "Articles", articles_path %></p>
