<h2>Contacts</h2>
<%= link_to "New Contact", new_contact_path %> | <%= link_to "Organizations", organizations_path %> | <%= link_to "Editions", editions_path %>

<br>
<hr>

<table class="table table-responsive">
  <tr>
  <th>ID
  <th>Name
  <th>Organization
  <th>Job Title
  </tr>

  Listing all contacts (sorted by last name):

  <br>
  <br>
  <% @contacts.each do |contact| %>
    <td><%= link_to contact.id, contact %>
    <td><%= link_to contact.last, contact %>, <%= link_to contact.first, contact %>
    <td><%= contact.organization.name %>
    <td><%= contact.job_title %>
  </tr>
    <% end %>

  </table>

  <h3><%= link_to "New Contact", new_contact_path %></h3>



