<h2>Contacts</h2>


<table class="table table-responsive">
  <tr>
  <th>ID
  <th>Name
  <th>Organization
  <th>Job Title
  </tr>

  Listing all contacts:

  <br>
  <br>
  <% @contacts.each do |contact| %>
    <td><%= link_to contact.id, contact %>
    <td><%= contact.first %> <%= contact.last %>
    <td><%= contact.organization.name %>
    <td><%= contact.job_title %>
  </tr>
    <% end %>

  </table>

  <h3><%= link_to "New Contact", new_contact_path %></h3>



