<h1><%= @contact.first %> <%= @contact.last %></h1>

<% if @orgid == nil %>
   <em><%= '(no organization selected)' %></em>
  <% else %>
    <%= @organization.name %>
    <% end %>

<br><br>




<address>
  <strong><%= @contact.address_1 %></strong><br>
          <%= @contact.address_2 %><br>
          <%= @contact.city %>, <%= @contact.state %>  <%= @contact.zip %><br>
<abbr title="Phone">P: </abbr><%= @contact.primary_phone %><br>
                              <%= @contact.secondary_phone %><br>
</address>


<p>Contact Email: <%= @contact.email %></p>

<% if @user == nil %>
  <em><%= '(This contact is not registered as a user)' %></em>
  <% else %>
  <h3>Web User Information</h3>
  Id: <%= @contact.userid %><br>
  Login Email: <%= @user.email %><p>
  <% end %>

<br>
<%= link_to "Edit", edit_contact_path(@contact) %> <br><br><br>
<%= button_to "Destroy", contact_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
