<h1><%= @contact.first %> <%= @contact.last %></h1>

<p></p>

<address>
  <strong><%= @contact.address_1 %></strong><br>
          <%= @contact.address_2 %><br>
          <%= @contact.city %>, <%= @contact.state %>  <%= @contact.zip %><br>
<abbr title="Phone">P: </abbr><%= @contact.primary_phone %><br>
                              <%= @contact.secondary_phone %><br>
</address>

<p>Email: <%= @contact.email %></p>
<p>Web User Id: <%= @contact.userid %></p>
<br>
<%= link_to "Edit", edit_contact_path(@contact) %> <br><br><br>
<%= button_to "Destroy", contact_path, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } %>
