<h1><%= @contact.first %> <%= @contact.last %></h1>
<% if @orgid == nil %>
   <em><%= '(no organization selected)' %></em>
  <% else %>
      <b><%= link_to @organization.name, @organization %></b><br>
      <i><%= @contact.job_title %></i>
    <% end %>

<br><br>

<%= link_to "Edit Contact", edit_contact_path(@contact) %> | 
<%= link_to "New Contact", new_contact_path(@contact) %> | 
<%= link_to "All Contacts", "/contacts" %>

<br>
<hr>


<p>Email: <%=  @contact.email %></p>

Address:<br>
  <address>
          <%= @contact.address_1 %><br>
          <%= @contact.address_2 %><br>
          <%= @contact.city %>, <%= @contact.state %>  <%= @contact.zip %><br><br>
<abbr title="Phone">Primary Phone: </abbr><%= @contact.primary_phone %><br>
          Secondary Phone: <%= @contact.secondary_phone %><br>
          Notes: <%= @contact.notes %>
</address>


<% if @user == nil %>
  <em><%= '(This contact is not registered as a web user)' %></em>
  <% else %>
  <h3>Web User Information</h3>
  Id: <%= @contact.userid %><br>
  Login Email: <%= @user.email %><p>
  <% end %>

<br><br>
<%= button_to "Destroy Contact", contact_path, method: :delete, form: { turbo_confirm: "Are you sure?" } %>
<br><br><br>
