<h2>Organizations</h2>
<%= link_to "New Organization", new_organization_path %> | <%= link_to "Contacts", contacts_path %> | <%= link_to "Editions", editions_path %>

<br>
<hr>


<table class="table table-responsive">
    <tr>
    <th>ID
    <th>Organization Name

  </tr>

Listing all organizations (sorted by name):

<br>
<br>

<% @organizations.each do |organization| %>
       <td><%= organization.id %>
       <td><%= link_to organization.name, organization %>
  </tr>
    <% end %>

</table>

<h3><%= link_to "New Organization", new_organization_path %></h3>
