<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFNapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
<body>

<div class="container">

 <div class="row">
  <div class="col-md-8"><h2>  </h2></div>

  <div class="col-md-4">
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="dropdownMenuButton" id="dropdown" data-bs-toggle="dropdown" aria-expanded="true">
        Quick Connect
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown">
        <li><a class="dropdown-item" href="/sections/21">Article Que</a></li>
        <li><a class="dropdown-item" href="/articles/new">New Article</a></li>
        </ul>
        </div>
  </div>
  </div> 


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<!-- Error Reporting -->
  <% flash.each do |key, value| %>
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <!-- Optional display of key 
        <span class="sr-only"><%#= key %></span>
        <-- Optional display of key -->
        <%= value %>
      </div>
  <% end %>
<!-- Error Reporting -->

  <%= yield %>








<hr>

 <button type="button" class="btn btn-default"><%= link_to "Articles", articles_path %></button>
 <button type="button" class="btn btn-default"><%= link_to "Contacts", contacts_path %></button>
 <button type="button" class="btn btn-default"><%= link_to "Editions", editions_path %></button>
 <button type="button" class="btn btn-default"><%= link_to "Organizations", organizations_path %></button>
 <button type="button" class="btn btn-default"><%= link_to "Reports", reports_path %></button>
 <button type="button" class="btn btn-default"><%= link_to "Sections", sections_path %></button>
 <button type="button" class="btn btn-default"><%= link_to "Users", users_path %></button>

</div>
</body>
</html>

